.productList {
    margin: 2rem auto 6rem;
    width: 800px;

    .productListHeading {
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        letter-spacing: 3px;
        margin-block-start: 0rem;
        margin-block-end: 1rem;
        background: linear-gradient(50deg, red 0%, rgb(0, 116, 210) 80%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: hidden;
        position: relative;
        top: 19px;
    }

    input {
        width: -webkit-fill-available;
        padding: 10px 3px 10px 15px;
        border-radius: 10px;
        border: 1px solid gray;
    }

    .mainTable {
        border: 1px solid rgb(224, 224, 224);
        border-radius: 15px;
        margin-top: 1rem;
        overflow: auto;
        background-color: rgb(240, 240, 240);
        height: fit-content;
        max-height: 400px;
        overflow: auto;
        width: 100%;
        box-shadow: 7px 7px 15px -5px rgb(167, 167, 167);
        padding: 1rem 2rem;

        thead {
            text-align: left;
            font-weight: bolder;
            border-top: 2px solid black;
            text-wrap: nowrap;

            tr {
                th {
                    padding: 0 1rem 0 0;
                    font-size: 18px;
                    letter-spacing: 1px;
                }
            }
        }

        tbody {
            tr {
                td {
                    border-top: 1px solid #cbcbcb;
                    width: 150px;
                    max-width: fit-content;
                    text-wrap: nowrap;
                    padding: 0.8rem 0.8rem 0.8rem 0;
                    
                }

                .actionBtns {
                    display: flex;
                    gap: 0.5rem;
                    padding: 0.6rem 0;

                    .updateBtn {
                        border: none;
                        background-color: transparent;
                        font-weight: bold;

                        a {
                            color: rgb(0, 89, 162);
                            text-decoration: none;
                        }
                    }

                    .updateBtn:hover {
                        text-shadow: 0px 2px 5px rgb(0, 89, 162);
                        transition: 0.5s;
                    }

                    .deleteBtn,
                    .updateBtn {
                        margin: 0;
                        font-size: 18px;
                        width: 5rem;
                        height: 2.5rem;
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: 0.5rem;
                            font-weight: bold;
                            font-size: 18px;
                        }
                    }

                    .deleteBtn {
                        background-color: transparent;
                        border: none;
                        color: red;
                        font-weight: bold;
                    }

                    .deleteBtn:hover {
                        border: none;
                        text-shadow: 0px 2px 5px rgb(167, 0, 0);
                        transition: 0.5s;
                    }
                }
            }
            .noProducts{
                text-align: center;
                font-size: 40px;
                letter-spacing: 2px;
                color: red;
            }
        }
    }
}

@media (max-width : 800px) {
    .productList {
        overflow: auto;
        width: 90%;

        input {
            width: -webkit-fill-available;
            margin: 8rem 1rem 0 0;
            position: absolute;
            max-width: 87%;
        }

        .productListHeading {
            position: absolute;
            left: 50%;
            text-wrap: nowrap;
            transform: translate(-50%, -22%);
            margin-top: 5rem;
        }

        .mainTable {
            overflow-y: auto;
            padding: 1rem 2rem 1rem 2rem;
            margin-top: 12rem;
            position: relative;
        }
    }
}