.mainProfile {
    margin: 2rem auto;
    width: fit-content;

    .card {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: fit-content;
        min-width: 350px;
        margin: 3rem auto;
        text-align: center;
        font-family: arial;
        padding: 1rem 1rem 1rem;

        .avatarImg {
            height: 10rem;
            width: auto;
            border-radius: 50%;
            padding: 0;
            filter: drop-shadow(10px 5px 5px rgb(185, 185, 185));
        }

        .avatarName {
            letter-spacing: 1px;
        }

        p {
            color: grey;
            font-size: 18px;
            text-align: left;
            font-weight: bold;
            color: rgb(13, 119, 87);

            span {
                font-weight: 400;
                color: black;
            }
        }

        .social{
            display: flex;
            gap: 1rem;
            justify-content: center;
        
            a {
                text-decoration: none;
                font-size: 22px;
                color: black;
            }
            a:hover {
                opacity: 0.7;
            }
        }
        .contactBtn {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: rgb(13, 119, 87);
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            margin-top: 1rem;
            border-radius: 5px;

            .fa-power-off{
                margin-right: 0.5rem;
            }
        }
        .contactBtn:hover{
            background-color: black;
            color: white;
            box-shadow: 0px 0px 10px 4px rgb(13, 119, 87);
            transition: 0.7s;
        }
    }
}

@media (max-width : 767px) {
    .mainProfile{
        width: 100%;
        .card{
            width: 80%;
            min-width: 70%;
        }
    }
}