.categoryMain {
    margin: 5rem auto;
    width: 800px;


    .heading {
        font-size: 40px;
        text-align: center;
        margin-bottom: 0;
        letter-spacing: 1px;
        color: #770D2D;
    }

    .totalName {
        text-align: center;
        margin-bottom: 0;
        letter-spacing: 1px;
        font-size: 30px;
    }

    .boxes {
        display: grid;
        gap: 0;
        width: 100%;

        .nameBox {
            text-align: center;
            .nameUl {
                margin-block-start: 2em;
                margin-block-end: 0em;
                padding-inline-start: 0px;
                color: white;
                display: inline-flex;

                .nameLi {
                    list-style-type: none;
                    padding: 10px;
                    cursor: pointer;
                    border-radius: 50%;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    font-size: 20px;
                    height: 10rem;
                    width: 10rem;
                    margin: 1rem;
                    background-color: #0D7757;
                    align-items: center;
                    box-shadow: 8px 8px 10px 2px rgb(159, 159, 159);

                    span{
                        top: 40%;
                        position: relative;
                        transform: translate(-50%, -50%);
                    }
                }

                .nameLi:hover {
                    background-color: #000000;
                    transition: 0.7s;
                    box-shadow: none;
                }

                .numberBorder {
                    border-right: 1px solid rgb(255, 255, 255) !important;
                    border-left: none !important;
                    border-bottom: 1px solid rgb(255, 255, 255);
                    background-color: #770D2D;
                    margin-top: -0.3px;
                    align-items: center;
                    text-align: center;
                }

                .numberBorder:hover {
                    background-color: #560b22;
                }
            }
        }
    }
}

@media (max-width : 767px) {
    .categoryMain {
        width: 100%;
    }
}

@media (max-width : 424px) {
    .categoryMain{
        .boxes{
            .nameBox{
                .nameUl{
                    .nameLi{
                        margin: 0.5rem;
                    }
                }
            }
        }
    }
}