.registerForm{
    margin: 5rem auto;
    width: 700px;
    display: flex;
    box-shadow: 7px 7px 15px -1px rgb(169, 169, 169);
}

.fields{
    display: grid;
    width: 50%;
    padding: 1rem 2rem;
}

.image{
    width: 60%;
    background-color: rgb(7, 189, 135);
    box-shadow: 10px 5px 15px -2px #a2a2a2;
}

.signUpText{
    margin-top: 5rem;
    text-align: center;
    color: white;
}
.innerImage{
    top: 50%;
    position: relative;
    transform: translate(-0%, -50%);
}
.signUpHeading{
    text-align: center;
    margin: 10px 0;
    color: rgb(220,19,88);
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 600;
}
label{
    margin: 1.2rem 0 0.3rem;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
}
input{
    height: 1.9rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    outline: none;
}

button{
    margin: 2rem 0 1rem;
    padding: 0.5rem 0;
    background-color: rgb(7, 189, 135);
    border: 1px solid rgb(7, 189, 135);
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(13, 119, 87);
    border: 1px solid rgb(13, 119, 87);
    transition: 0.7s;
    box-shadow: 0px 0px 15px 3px rgb(7, 189, 135);
}