.addFormMain{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    min-width: 700px;
    width: 700px;
    min-height: 500px;
    height: fit-content;
    display: flex;
    overflow: auto;
    box-shadow: 7px 7px 15px -1px rgb(169, 169, 169);

}
.addForm{
    display: grid;
    width: 50%;
    padding: 2rem;
    align-items: center;
    box-shadow: 7px 7px 15px -1px rgb(169, 169, 169);
}
.addProductImg{
    width: 60%;
    background-color:  rgb(7, 189, 135);
    /* background-image: linear-gradient(to right, rgb(13, 119, 87), rgb(7, 189, 135)); */
    box-shadow: 10px 5px 15px -2px #a2a2a2;
    border-radius: 20px;
}
.addProductImg .imgAddProduct{
    height: 13rem;
    width: auto;
    top: 50%;
    position: relative;
    transform: translate(11%, -50%);
}
.addFormMain .addProductHeading{
    text-align: center;
    margin: 0px 0;
    color: rgb(7, 189, 135);
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}

.addFormMain .addFormLabel{
    margin: 0.5rem 0 0.1rem;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
}
.errorMsg{
    color: red;
    font-size: 13px;
}
.addBtns{
    display: flex;
    gap: 1rem;
}

.addFormMain input{
    height: 1.9rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    outline: none;
}
.addCan{
    width: 100%;
    margin: 2rem 0 0.2rem;
    padding: 0.5rem 0;
    background-color: gray;
    border: 2px solid gray;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.addCan:hover{
    background-color: rgb(81, 81, 81);
    border: 2px solid gray;
    box-shadow: 0px 0px 10px 3px gray;
    transition: 0.7s;
}
.addSubmitBtn{
    margin: 2rem 0 0.2rem;
    padding: 0.5rem 0;
    background-color: rgb(7, 189, 135);
    border: 1px solid rgb(7, 189, 135);
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.addSubmitBtn:hover{
    background-color: rgb(13, 119, 87);
    border: 1px solid rgb(13, 119, 87);
    transition: 0.7s;
    box-shadow: 0px 0px 15px 3px rgb(7, 189, 135);
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}


.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    width: 550px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.rightIcon{
    height: 10rem;
    width: auto;
}
.popup .close:hover {
    color: #06D85F;
    cursor: pointer;

}

.popup .content {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.popupHeading {
    font-size: 20px;
    margin: 1rem 0 0;
    font-weight: 600;
    letter-spacing: 1px;
}
@media (max-width : 767px) {
    .addFormMain{
        display: contents;
    }
    .addFormMain .addFormLabel {
        margin: 1rem 0 0.1rem;
    }
    .addBtns{
        display: inline-block;
    }
    .addSubmitBtn{
        margin-top: 1rem;
    }
    .addForm{
        margin: 4rem auto;
        width: 75%;
        padding: 2rem 1.5rem;
    }
    .addProductImg{
        display: none;
    }
}