.nav-ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    padding-inline-start: 0;
    box-shadow: 7px 7px 15px 1px #d8d8d8;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;

    .all-li {
        display: flex;
        text-wrap: nowrap;
        align-items: center;

        li {
            list-style-type: none;
            text-decoration: none;
            margin: 0.5rem;
            padding: 5px;
            display: inline-block;
            font-weight: 600;
            cursor: pointer;

            a {
                text-align: center;
                color: black;
                text-decoration: none;
            }

            a:focus {
                color: rgb(13, 119, 87);
            }
        }

        li:hover {
            transition: 0.7s;
            text-shadow: 0px 1px 7px black;
        }

        .logoOnly {
            padding: 0rem 0.8rem 0 1rem;
            margin: 0;
            font-size: 20px;
            letter-spacing: 1px;
            text-shadow: 0px 1px 10px rgb(13, 119, 87);

            a {
                color: rgb(13, 119, 87);
            }
        }
    }

    .loginLogout {
        display: flex;
        align-items: center;
        gap: 2rem;

        li {
            list-style-type: none;
            text-decoration: none;
            margin: 0.5rem;
            padding: 5px;
            display: inline-block;
            font-weight: 600;
            cursor: pointer;

            .notificationCount {
                border-radius: 50%;
                color: white;
                padding: 1px 5px;
                font-size: 12px;
                position: absolute;
                top: 5px;
                background-color: rgb(251, 0, 42);
            }

            .fa-cart-plus {
                font-size: 22px;
            }

            a {
                text-align: center;
                color: black;
                text-decoration: none;
            }

            a:focus {
                color: rgb(13, 119, 87);
            }
        }

        li:hover {
            transition: 0.7s;
            text-shadow: 0px 1px 7px black;
        }
    }
}

@media (min-width : 767px) {

    .respHeader,
    .respHeaderData {
        display: none;
        visibility: hidden;
    }
}

@media (max-width : 767px) {
    .nav-ul {
        display: none;
        visibility: hidden;
    }

    .respHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 4px 5px 15px 3px rgb(192, 192, 192);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        background: white;

        .respProfileImg {
            border-radius: 50%;
            height: 3.5rem;
            width: 3.5rem;
            filter: drop-shadow(10px 5px 5px rgb(185, 185, 185));
            padding: 8px 5px;
        }

        .respHeading {
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 8px 5px;
        }

        .icons {
            transform: rotate(180deg);
            font-size: 34px;
            font-weight: bold;
            font-weight: bold;
            padding: 8px 5px;
        }

        .plusIcon {
            transform: rotate(45deg) !important;
            font-size: 50px !important;
            margin-right: -0.5rem;
            padding: 5px;
        }
    }

    .respHeaderData {
        width: 70%;
        position: fixed;
        top: 72px;
        right: 0px;
        height: 91vh;
        background-color: rgb(13, 119, 87);
        z-index: 999;
        box-shadow: -10px 0px 10px 1px #666666;

        .respUl {
            top: 50%;
            margin-top: 50%;

            li {
                list-style: none;
                margin: 1.5rem 0;
                font-size: 20px;
                font-weight: 500;
                color: white;
                letter-spacing: 2px;

                a {
                    color: white;
                    letter-spacing: 2px;
                    text-decoration: none;
                    font-weight: 500;
                }

                .icons {
                    font-size: 30px;
                }
            }
        }
    }
}